body {
  background-color: #fff;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 50%;
  height: 675px;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 88.56px;
  text-align: left;
}

.subtitle-1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.77px;
  text-align: left;
  color: #6f7177;
}

.sub {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.36px;
  text-align: left;
}

.App {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fullscreen-and-compare-wrapper {
  display: flex;
}
.fullscreen-compare {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  margin-top: 20px;
}

.fullscreen-wrapper {
  display: flex;
  justify-content: center;
}
.compare-wrapper {
  display: flex;
  justify-content: center;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #4b40ee;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}
.tabs {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #eff1f3;
  margin-top: 20px;
}

@media screen and (max-width: 440px) {
  .heading-1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 88.56px;
    text-align: left;
  }
  .fullscreen-compare {
    flex-direction: column;
  }
  div.tabs {
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .tabs::-webkit-scrollbar {
    height: 2px;
  }

  .tabs::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .tabs::-webkit-scrollbar-thumb {
    background: #888;
  }

  .tabs::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .container {
    width: 100% !important;
    padding: 10px !important;
    height: 600px !important;
  }
}

@media screen and (min-width: 440px) and (max-width: 768px) {
  .heading-1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 88.56px;
    text-align: left;
  }

  div.tabs {
    overflow-x: scroll;
  }

  .tabs::-webkit-scrollbar {
    height: 2px;
  }

  .tabs::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .tabs::-webkit-scrollbar-thumb {
    background: #888;
  }

  .tabs::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .fullscreen-compare {
    flex-direction: column;
  }
  .container {
    width: 100% !important;
    padding: 10px !important;
    height: 650px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .container {
    width: 80% !important;
    padding: 10px !important;
  }
  .fullscreen-compare {
    flex-direction: column;
  }
}
